<h1>みんなの投稿をみよう！</h1>
<table>
  <tr>
    <th>Content</th>
    <th>image</th>
  </tr>
<% @feeds.each do |feed| %>
  <tr>
    <td><%= feed.content %></td>
    <td><%= image_tag feed.image.url %></td>
    <td><%= link_to '詳細を確認する', feed_path(feed.id) %></td>
  </tr>
<% end %>
</table>
